{% extends 'app/base.html' %}
{% block title %}Education - Resume{% endblock %}
{% block content %}
<h2 class="mb-3">Education</h2>
<ul class="list-group">
  <li class="list-group-item">
    <h6 class="mb-1">B.C.A</h6>
    <small class="text-muted">Lucknow University • 2021 - 2024</small>
    <p class="mb-0 mt-2">Percent: 59% • Relevant coursework: Data Structures, Algorithms, DBMS, python, java, HTML, CSS, JS</p>
  </li>
  <li class="list-group-item">
    <h6 class="mb-1">12th Grade</h6>
    <small class="text-muted">Lucknow Public School • 2020 - 2021</small>
    <p class="mb-0 mt-2">Commerce with Maths.</p>
    <p class="mb-0 mt-2">Percent: 73.4% </p>
  </li>
  <li class="list-group-item">
    <h6 class="mb-1">10th Grade</h6>
    <small class="text-muted">Lucknow Public School • 2020 - 2021</small>
    <p class="mb-0 mt-2">all subjects.</p>
    <p class="mb-0 mt-2">Percent: 83.33% </p>
  </li>
</ul>
{% endblock %}


